@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cedarville+Cursive&family=Crafty+Girls&family=Finger+Paint&family=Geo&family=Give+You+Glory&family=Just+Me+Again+Down+Here&family=La+Belle+Aurore&family=Lemon&family=Major+Mono+Display&family=Moo+Lah+Lah&family=Mr+De+Haviland&family=Ole&family=Oooh+Baby&family=Pirata+One&family=Sansita+Swashed&family=Sue+Ellen+Francisco&family=Waiting+for+the+Sunrise&display=swap');

:root {
    --main-bg-color: #0d192c;
    --card-bg-color: #15263f;
    --line-color: #2e405a;
    --cyan-color: #00fff8;
    --white-color: #ffffff;
    --soft-blue-color: #8bacd9;
}

body {
    display: flex;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--main-bg-color);
}

hr {
    height: 1px;
    background-color: var(--line-color);
    border: none;
    margin: 5%;
}

main {
    justify-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*Container to Alight Paragraph with time left & price*/
.wrapper {
    display: flex;
    justify-content: space-between;
}

.profile-image {
    height: 33px;
    width: 33px;
}