@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cedarville+Cursive&family=Crafty+Girls&family=Finger+Paint&family=Geo&family=Give+You+Glory&family=Just+Me+Again+Down+Here&family=La+Belle+Aurore&family=Lemon&family=Major+Mono+Display&family=Moo+Lah+Lah&family=Mr+De+Haviland&family=Ole&family=Oooh+Baby&family=Pirata+One&family=Sansita+Swashed&family=Sue+Ellen+Francisco&family=Waiting+for+the+Sunrise&display=swap');

:root {
    --card-bg-color: #15263f;
    --cyan-color: #00fff8;
    --line-color: #2e405a;
    --main-bg-color: #0d192c;
    --soft-blue-color: #8bacd9;
    --white-color: #ffffff;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    align-items: center;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.card-container {
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    margin: 10rem;
    max-height: 60rem;
    max-width: 35rem;
    padding: 1rem;
}

.card-container hr {
    background-color: var(--line-color);
    border: none;
    height: 0.09rem;
    margin: 0.5rem;
}

/*Card Image Section*/
.card-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
    position: relative;
}

.card-cube-image {
    border-radius: 0.8rem;
    height: 30.02rem;
    width: 30.02rem;
}

.card-eye-image {
    position: absolute;
    content: "";
    width: 4.8rem;
    height: 4.8rem;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
/*Card Information Section*/
.card-info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    width: 30.02rem;
}

.card-title {
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1.6rem;
}

/* Card Data */

.card-data-container {
    border-bottom: 1px solid var(--line-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
    width: 30.01rem;
}

.card-number {
    color: var(--cyan-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

.card-number-icon {
    height: 1.8rem;
    width: 1.1rem;
}

.card-time {
    color: var(--soft-blue-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

.card-time-icon {
    height: 1.6rem;
    width: 1.6rem;
}

.card-number-container,
.card-time-container {
    align-items: center;
    display: flex;
    gap: 0.64rem;
}

.card-description {
    color: var(--soft-blue-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.card-author-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
}

.card-author-image {
    height: 3.3rem;
    margin-right: 1.6rem;
    width: 3.3rem;
}

.card-author {
    color: var(--soft-blue-color);
    font-size: 1.6rem;
    font-weight: 400;
}

/* active effects */

.card-cube-image:hover {
    cursor: pointer;
    opacity: 0.05;
}

.card-image-container:hover .card-eye-image {
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

.card-title:hover,
.card-author-name:hover {
    color: var(--cyan-color);
    cursor: pointer;
}


/*Footer Attribution*/
footer {
    display: flex;
    font-size: 11px;
    text-align: center;
}

.attribution {
    display: flex;
    font-size: 11px;
    margin-top: 10%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}