@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cedarville+Cursive&family=Crafty+Girls&family=Finger+Paint&family=Geo&family=Give+You+Glory&family=Just+Me+Again+Down+Here&family=La+Belle+Aurore&family=Lemon&family=Major+Mono+Display&family=Moo+Lah+Lah&family=Mr+De+Haviland&family=Ole&family=Oooh+Baby&family=Pirata+One&family=Sansita+Swashed&family=Sue+Ellen+Francisco&family=Waiting+for+the+Sunrise&display=swap');

:root {
    --card-bg-color: #15263f;
    --cyan-color: #00fff8;
    --line-color: #2e405a;
    --main-bg-color: #0d192c;
    --soft-blue-color: #8bacd9;
    --white-color: #ffffff;
}


body {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    flex: 1;
    font-family: 'Outfit', sans-serif;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    border-radius: 1rem;
    background-color: var(--card-bg-color);
    padding: 1rem;
    margin: 1rem;
    max-width: 18.125rem;
}

main h1 {
    color: white;
}

main hr {
    background-color: var(--line-color);
    border: none;
    height: 0.09rem;
    margin: 0.5rem;
}

main img {
    max-width: 18.125rem;
    border-radius: 1rem;
}

.heading-1 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0;
}

.image-container {
    width: 18.125rem;
}

.image-container img {
    border-radius: 1rem;
    width: auto;
}

footer {
    display: flex;
    font-size: 11px;
    text-align: center;
}

.attribution {
    display: flex;
    font-size: 11px;
    text-align: center;
    margin-top: 10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*Container to Alight Paragraph with time left & price*/
.time-left-section {
    display: flex;
    justify-content: space-between;
}

.profile-image-section {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.profile-image-section img {
    height: 33px;
    width: 33px;
    border: 0.031rem solid white;
}