:root {
    --main-bg-color: #0d192c;
    --card-bg-color: #15263f;
    --line-color: #2e405a;
    --cyan-color: #00fff8;
    --white-color: #ffffff;
    --soft-blue-color: #8bacd9;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cedarville+Cursive&family=Crafty+Girls&family=Finger+Paint&family=Geo&family=Give+You+Glory&family=Just+Me+Again+Down+Here&family=La+Belle+Aurore&family=Lemon&family=Major+Mono+Display&family=Moo+Lah+Lah&family=Mr+De+Haviland&family=Ole&family=Oooh+Baby&family=Pirata+One&family=Sansita+Swashed&family=Sue+Ellen+Francisco&family=Waiting+for+the+Sunrise&display=swap');

body {
    background-color: var(--main-bg-color);
    font-family: 'Outfit', sans-serif;
}

body p {
    font-size: 18px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.flex-row {
    align-items: center;
    color: var(--white-color);
    display: flex;
    max-height: 100%;
    justify-content: center;
}

.heading-1 {
    font-weight: 600;
}

.flex-column {
    height: 596px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--card-bg-color);
    flex-basis: auto;
}

.flex-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.flex-column-3 {
    text-align: right;
}

.flex-column-2 img {
    height: 33px;
    width: 33px;
    justify-content: left;
}